body{
    background-color: black;
}
h1{
    color: blue;
    text-align: center;
    font-size: 25px;
}
h2{
    color: blue;
    font-size: 20px;
}

p{
    color: white;
    font-size: 18px;
}